@import url(./reset.css);

.App{
    /* border: 2px solid red; */
}

.main-page{
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid green; */
}

.searchWrapper{
    margin: 50px 0 0 0 ;
    /* border: 2px solid blue; */
    /* width: 40%; */
}

#serchEngine{
    display: block;
    width: 99%;
    height: 80px;
    margin: 0 auto;
    border: 1px solid black;
    font-size: 50px;
    border-radius: 15px;
    
}
#serchEngine::placeholder{
    color: rgba(110, 110, 110, 0.377);
}


.contentWrapper{
    display: flex;
    align-items: center;
    margin: 50px 0 20px 0;
    gap: 20px;
}

.imgWrapper{
    width: 25%;
    border-radius: 20px;
}
.img{
    width: 100%;
    height: 250px;
    
    border-radius: inherit;
    object-fit: cover;
}

.text{
    width: 75%;
    font-size: 35px;
}

.empty{
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
}

.vh-types{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 10px auto 0 35px;
    font-size: 20px;
    cursor: pointer;
}
.vh-types span{
    font-size: 25px;
    text-decoration: underline;
}
.vh-type{
    white-space: nowrap;
    font-size: 17px;
    transition: font-size 100ms ease-in-out;
}


.vh-type:hover{
    color: blue;
    /* color: rgb(0, 255, 0); */
    font-size: 16px;
}

.bold{
    /* color: rgb(0, 255, 0); */
    color: blue;
    font-size: 25px;
    border: 2px solid blue;
    padding: 0 5px;
}